<div class="user-root" *ngIf="avatarId">
  <section class="user-info">
    <div class="user-info-general">
      <img class="user-avatar" [src]="avatarId">
      <div class="user-details">
        <span><strong>Username:</strong> {{ name }}</span>
        <span><strong>Id:</strong> {{ id }}</span>
        <span><strong>Followers:</strong> {{ followers }}</span>
        <span><strong>Following:</strong> {{ following }} </span>
        <span><strong>Stars:</strong> {{ stars }} </span>
        <span *ngIf="twitterUsername"><strong>Twitter username:</strong><a [href]="'https//twitter.com/' + twitterUsername">{{ twitterUsername }}</a></span>
      </div>
    </div>
    <div class="user-organizations" *ngIf="organizations.length > 0">
      <h2>Organizations</h2>
      <div class="user-organization-data" *ngFor="let org of organizations">
        <img class="user-org-avatar" [src]="org.avatar_url">
        <span><strong>{{org.login}}</strong></span>
      </div>
    </div>
  </section>
  <section class="user-repositories">
    <h2 class="user-repositories-title">User repositories</h2>
    <div class="user-repositories-list" *ngIf="repos.length > 0">
      <div *ngFor="let repo of repos" class="user-repo-card">
        <span><strong>Name:</strong> {{repo.full_name}}</span>
        <span><strong>Description:</strong> {{repo.description}}</span>
        <span><strong>Forks count:</strong> {{repo.forks_count}}</span>
        <span><strong>Stars:</strong> {{repo.stargazers_count}}</span>
        <span><strong>Language:</strong> {{repo.language}}</span>
        <span><strong>Pushed at:</strong> {{repo.pushed_at}}</span>
      </div>
    </div>
    <div *ngIf="repos.length === 0">This user doesn't have any repository</div>
  </section>
</div>
