.user-root {
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 50px;
}

.user-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
}

.user-info-general {
    box-sizing: border-box;
    background: rgba(2, 182, 214, 0.432);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
}

.user-repositories-title {
    margin-block-start: 0;
}

.user-organizations {
    flex: 1;
    box-sizing: border-box;
    margin-top: 20px;
    background: rgba(3, 107, 243, 0.274);
    border-radius: 4px;
    padding: 0 20px 20px;
    width: 100%;
    gap: 20px;
}

.user-organization-data {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.user-repositories {
    width: 70%;
}

.user-avatar {
    flex: 1;
    box-sizing: border-box;
    border-radius: 50%;
    width: 100%;
    max-width: 100px;
}

.user-org-avatar {
    width: 50px;
    height: 50px;
}

.user-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-repositories-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-repo-card {
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(245, 118, 0, 0.075);
}

@media(max-width: 1000px)  {
    .user-root {
        flex-direction: column;
    }
    .user-info,
    .user-repositories {
        width: 100%;
    }
}
