<section class="main-section">
    <input [(ngModel)]="username" class="main-input" type="text" placeholder="Put a github user">
    <button [disabled]="!username || username.length < 3" (click)="goToUserPage()" class="main-button">GO</button>
</section>